<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/about.css">
    </head>
    <body>
        <div class = navbar>
            <div class = image>
                <img src="/public/photos/logo.png">
            </div>
            <ul>
                <li><a href="\">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/benefits">BENEFITS</a></li>
                <li><a href="/contacts">CONTACTS</a></li>
            </ul>
        </div>
        <div class="check">
            <h1>ABOUT US</h1>
            <hr style="width:60%;">
            <h2><a href="#bottom">read more</a></h2>
        </div>
        <div class="about">
            <div class="wording">

            </div>
            <div>
                <p>Enron is the leading automation solutions provider for petrol stations. Our technology helps position our clients as
                    market leaders
                    and help them create new and improved customer experience</p><br/>

                    <p>Our technology helps clients monitor in real time fueling data, payment integration and reconciliation
                    This eliminate errors, saves time and create valuable data for predictive data analytics besides significantly 
                    reducing paperwork at the station</p><br/>
                    <p>
                    we help you take away the redundant, repetitive and slow paper-based processes of documenting and reconciling daily sales and payments.
                    so that you can focus on your most important person: The customer.
                    </p><br/>
            </div>        
        </div>
        <div class="mis">
            <div class="mi">
                <h3>mission</h3>
                <p>To bring order to chaos through payment integration, real time monitoring and data analytics</p>
            </div>
            <div class="vi">
                <h3>vision</h3>
                <p>to create one stop shop for internet of everything, fast payment solutions, automation and real time monitoring solutions</p>
            </div>
        </div>
        <div class="core">
            <h2>CORE VALUES</h2>
        </div>
        <div class="values">
            <div class="v">
                <h3>customer obsession</h3><br/>
                <p>Customer satisfaction is our priority.</p>
            </div>
            <div class="v">
                <h3>integrity</h3><br/>
                <p>Throughout our work, we strive to hold the values of integrity and honesty very high</p>
            </div>
            <div class="v">
                <h3>diversity</h3><br/>
                <p>Everyone feels safe throughout our engagements. </p>
            </div>
            <div class="v">
                <h3>innovation</h3><br/>
                <p>We always work to bring innovative solutions in order to help our customers on a lean sustainable path</p>
            </div>
        </div>
        <div class="end">
            <div class="footer">
                <div class="navigation">
                    <h3>about</h3><br/>
                    <ul>
                        <li>our story</li>
                        <li>team</li>
                        <li>values</li>
                    </ul>
                </div>
                <div class="solutions">
                    <h3>solutions</h3><br/>
                    <ul>
                        <li>payment integration</li>
                        <li>monitoring</li>
                        <li>payment solutions</li>
                    </ul>
                </div>
                <div class="contacts">
                    <h3>contacts</h3><br/>
                    <ul>
                        <li>info@enronkenya.co.ke</li>
                        <li>+254727000000</li>
                        <li>nairobi, kenya</li>
                    </ul>
                </div>
            </div>
            <div class="cont">
                <h2><a href="/contacts"><i>Talk to us today, we care</i></a></h2>
            </div>
        </div>    
    </body>
</html>