<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial scale=1.0">
        <link rel="stylesheet" href="/public/styles/analytics.css">
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><a href="/" style="color:white;">HOME</a></li>
                <li>CHEWEN PETROL STATION</li>
                <li><a href="/"><button>LOG OUT</button></a></li>
            </ul>
        </div>
        <div class="dash">
            <div class="side">
                <div class="dashboard">
                    <a href="/dashboard">dashboard</a>                    
                </div>
                <div class="reconciliation">
                    <p>reconciliations</p>
                    <a href="/reconciliation"><img src="/public/photos/canva payment.png" style="height:80%; width:95%;"></a>
                </div>
                <div class="analytics">
                    <p>analytics</p>
                    <a href="http://localhost:3000/analytics"><img src="public/photos/data3.png" style="height:80%; width:95%;"></a>
                </div>
                <div class="orders">
                    <p>Make orders</p>
                    <a href="/orders"><img src="public/photos/truck.png" style="height:80%; width:95%;"></a>
                </div>
                <div class="levels">
                    <p>stock level</p>
                    <a href="/stock"><img src="public/photos/gauge.png" style="height:60%; width:95%;"></a>
                    <p>days remaining: 5</p>
                </div>
            </div>
    </body>
</html>