<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial scale=1.0">
        <title>Benefits</title>
        <link rel="stylesheet" href="/public/styles/benefits.css">
    </head>
    <body>
        <div class="navigation">
            <img src="/public/photos/logo.png">
            <ul>
                <li><a href="\">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/benefits">BENEFITS</a></li>
                <li><a href="/contacts">CONTACTS</a></li>
            </ul>
        </div>
        <div class="intro">
            <h3>BENEFITS</h3>
            <hr style="width:60%; height:10px; background-color: yellow; margin-left: 20vw;">
            <h2><a href="#">read more</a></h2>
        </div>
        <div class="benefits">
            <div class="remote">
                <h2>Remote monitoring</h2><br/>
                <p>Remote monitoring enables petrol station owners access to real time fueling and payment data without physically present at
                    the petrol station. This greatly improves supervision and prevent errors </p>
            </div>
            <div class="remote">
                <h2>Payment integration</h2><br/>
                <p>Tracking payments from different sources usually cash, mobile money and electronics payments consumes time and
                    prone to errors. Our technology ensures real time validation and reconciliation reducing errors and improving efficiency
                </p>
            </div>
            <div class="remote">
                <h2>Data analytics</h2><br/>
                <p>Our technology uses big data and data analytics tools in order to derive valuable insights that helps management
                    plan orders, plan for peak hours and even offer personalized services
                </p>
            </div>
        </div>
        <div class="advantages">
            <div class="li"><h3><i>remote monitoring</i></h3></div>
            <div class="li"><h3><i>saves time</i></h3></div>
            <div class="li"><h3><i>payment integration</i></h3></div>
            <div class="li"><h3><i>reduces errors, theft</i></h3></div>
            <div class="li"><h3><i>Data analytics</i></h3></div>
        </div>
        <div class="end">
            <div class="footer">
                <div class="navi">
                    <h3>about</h3><br/>
                    <ul>
                        <li>our story</li>
                        <li>team</li>
                        <li>values</li>
                    </ul>
                </div>
                <div class="solutions">
                    <h3>solutions</h3><br/>
                    <ul>
                        <li>payment integration</li>
                        <li>monitoring</li>
                        <li>payment solutions</li>
                    </ul>
                </div>
                <div class="contacts">
                    <h3>contacts</h3><br/>
                    <ul>
                        <li>info@enronkenya.co.ke</li>
                        <li>+254727000000</li>
                        <li>nairobi, kenya</li>
                    </ul>
                </div>
            </div>
            <div class="cont">
                <h2><a href="/contacts"><i>Talk to us today, we care</i></a></h2>
            </div>
        </div>
    </body>
</html>