<!--
<h1><b><i>HOME PAGE</i></b></h1>
<h1>my first name</h1>
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device - width, initial scale = 1.0">
        <link rel = "stylesheet" href= "public/styles/1st.css">
        <title>DRMICHIOKAKU</title>
    </head>
    <body>
        <div class="nav">
            <div class="pump">
                <img src="/public/photos/logo.png">
            </div>
            <ul>
                <li><a href="\">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/benefits">BENEFITS</a></li>
                <li><a href="/contacts">CONTACTS</a></li>
            </ul>
        </div>
        <div class="homeImage">
            <div class="hustle">
                <h2><i>INVEST IN YOUR DREAMS TODAY......</i></h2><br/>
            </div>
            <div class="log">
                <a href="/login"><button style="width:20vh;">Login</button></a>
                <p><i>or</i></p><br/>
                <a href="/register"><button>register here</button></a>
            </div>            
        </div>
        <script>
            // Get the modal
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <div class="one">
            <div class="connect">
                <h1>ENRON</h1>
                <p>DIGITIZATION IS THE WAY TO GO<br/><br/>Digital process automation</p><br/>
                <p>eliminate inefficient paper-based processes<br/>and helps you create new and improved customer experience</p><br/>
                <p>Our S.M.A.T internet of things technology helps you reap the immense benefits of connected petrol stations</p>
            </div>
            <div class="connect">
                <img src="/public/photos/station3.png">
            </div>
        </div>
        <!--
        <div class="two">
            <h2>REMOTE MONITORING</h2>
        </div>
        <div class="three">
            <h2>PAYMENT INTEGRATION</h2>
        </div>
        <div class="four">
            <h2>REAL TIME RECONCILIATION</h2>
        </div>
        -->
        <div class="about">
            <h3>Is lack of automation harming your petrol station operations?</h3><br/>
            <p>Invest in enron Technology today, automate all manual operation processes and eliminate errors. 
                Access to real-time fueling and payment data, historical data and using data analytics, we help you Create new 
                and improved customer experience</p><br/>
                <p>Our Smart I.O.T enables digital process automation which optimizes workflows, decreases the chances of errors 
                    that contribute
                to waste and compromised service delivery</p><br/>
                <p>We collect real time data on fuel, integrate different payment solutions, facilitate fats and secure payments and
                    support fleet operations.
                </p><br/>
                <h2><i>What matters to you is our business</i></h2>
            </i></p>
        </div>
        <div class="facets">
            <h2>Facets of our Digital process automation</h2>
        </div>
        <div class="benefits">
            <div class="remote">
                <h2>Remote monitoring</h2><br/>
                <p>Remote monitoring enables petrol station owners access to real time fueling and payment data without physically present at
                    the petrol station. This greatly improves supervision and prevent errors </p>
            </div>
            <div class="remote">
                <h2>Payment integration</h2><br/>
                <p>Tracking payments from different sources usually cash, mobile money and electronics payments consumes time and
                    prone to errors. Our technology ensures real time validation and reconciliation reducing errors and improving efficiency
                </p>
            </div>
            <div class="remote">
                <h2>Data analytics</h2><br/>
                <p>Our technology uses big data and data analytics tools in order to derive valuable insights that helps management
                    plan orders, plan for peak hours and even offer personalized services
                </p>
            </div>
        </div>
        <div class="advantages">
            <div class="li"><h3><i>remote monitoring</i></h3></div>
            <div class="li"><h3><i>real time operations</i></h3></div>
            <div class="li"><h3><i>payment integration</i></h3></div>
            <div class="li"><h3><i>reduces errors, theft</i></h3></div>
            <div class="li"><h3><i>Data analytics</i></h3></div>
        </div>
        <div class="monitor">
            <div class="head">
                <h2 style="color:rgb(18, 228, 43)"><b>remote automation</b></h2><br/>
                <h3>real time monitoring</h3><br/>
                <p>Our technology enables managers and owners have access to real time fueling and payment data</p><br/>
                <h3>increased productivity</h3><br/>
                <p>Remote automation boosts employees productivity as it frees them from redundant and repetitive task that can
                    be delegated to monitoring tool
                </p><br/>
                <h3>immediate results</h3><br/>
                <p>Real time visibility on performance helps identify actual times an incident occurs and helps station managers and owners
                    be proactive with their response methods 
                </p><br/>
            </div>
            <div class="photo">
                <img src="/public/photos/data3.png">
            </div>     
        </div>
        <div class="payment">
            <div class="photo">
                <img src="/public/photos/payment.png">
            </div>
            <div class="head">
                <h2 style="color:rgb(18, 228, 43)">payment integration</h2><br/>
                <h3>integration saves money</h3><br/>
                <p>fewer hours are needed to review all payment information while allowing better oversight of financial transactions
                    and helps you understand cashflow better. 
                </p><br/>
                <h3>fewer errors</h3><br/>
                <p>integrated payments takes all payment information from all payments types used by clients, reconcile them and 
                    puts it where it needs to be. This eliminates manual entry and therefore errors.
                </p><br/>
                <h3>increases cashflow</h3><br/>
                <p>Having accurate up to date understanding of cashflow is vital for business sustainability. Current and reliable reports
                    on cash inflows helps managers and owners make informed operating decisions.
                </p>
            </div>
        </div>
        <div class="data">
            <div class="head">
                <h2 style="color:rgb(18, 228, 43)">Data analytics</h2><br/>
                <h3>Proactivity and anticipating needs</h3><br/>
                <p>Data analytics helps station owners and managers anticipate peak hours and proactively plan for those hours. It also
                    helps them correctly predict fuel consumption and make orders in advance 
                </p><br/>
                <h3>Improved customer experience</h3>
                <p>Using big data analytics delays in supplies are mitigated hence no loss of sale opportunities which leads to customer
                    loyalty while improving customer experience 
                </p><br/>
                <h3>Key performance indicators</h3><br/>
                <p>Big data analytics helps station managers and owners develop indicators which helps them measure and track
                    effects of interventions and new services they introduce on customer satisfaction.
                </p>
            </div>
            <div class="photo">
                <img src="/public/photos/data.png">
            </div>
        </div>
        <div class="responsive">
            <div class="container">
                <div class="contact">
                    <p>
                        <img src="/public/photos/station3.png" /><br /><br /><br /><br /><br />
                        <br /><span>Contact us on</span> <br /><br /> +254727873698<br /><br />Begin your 
                            journey on Digital process automation today by investing in our smart I.O.T and unlock the immense benefits of
                            digitization and big data. Optimize information flows for competitive advantage.
                    </p>
                </div>
    
            </div>
            <div class="container span-2">
                <form action="https://formspree.io/f/mvodqjwo" method="POST">
                    <div class="row">
                        <div class="col-25">
                            <label for="fname">First Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="lname">Last Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="phonenumber">Phone number</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="phone" name="phone" placeholder="+254700000000">
                            <!--
                               <select id="country" name="country">
                                <option value="australia">Australia</option>
                                <option value="canada">Canada</option>
                                <option value="usa">USA</option>
                                </select>
                            -->
    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="email">email</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="email" name="email" placeholder="company@company.com">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="subject">Subject</label>
                        </div>
                        <div class="col-75">
                            <textarea id="subject" name="subject" placeholder="your message.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
