<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial scale=1.0">
        <link rel="stylesheet" href="https://kdouglasrono.github.io/usave.github.io/orders.css">
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><a href="/" style="color:white;">HOME</a></li>
                <li>CHEWEN PETROL STATION</li>
                <li><a href="http://localhost/php/1st.php"><button>LOG OUT</button></a></li>
            </ul>
        </div>
        <div class="dash">
            <div class="side">
                <div class="dashboard">
                    <a href="http://localhost:3000/dashboard">dashboard</a>                    
                </div>
                <div class="reconciliation">
                    <p>reconciliations</p>
                    <a href="http://localhost:3000/reconciliation"><img src="https://kdouglasrono.github.io/usave.github.io/canva payment.png" style="height:80%; width:95%;"></a>
                </div>
                <div class="analytics">
                    <p>analytics</p>
                    <a href="http://localhost:3000/analytics"><img src="https://kdouglasrono.github.io/usave.github.io/data3.png" style="height:80%; width:95%;"></a>
                </div>
                <div class="orders">
                    <p>Make orders</p>
                    <a href="http://localhost:3000/orders"><img src="https://kdouglasrono.github.io/usave.github.io/truck.png" style="height:80%; width:95%;"></a>
                </div>
                <div class="levels">
                    <p>stock level</p>
                    <a href="http://localhost:3000/stock"><img src="https://kdouglasrono.github.io/usave.github.io/gauge.png" style="height:60%; width:95%;"></a>
                    <p>days remaining: 5</p>
                </div>
            </div>
            <div class="main">
                <div class="order">
                    <h2><i>Fuel Ordering and Supply simplified</i></h2>
                    <div class="forder">
                        <h2>ORDER FUEL</h2>
                    </div>
                </div>
                <diV class="safe">
                    <h2><i>Save money by ordering through us</i></h2>
                </diV>
                <div class="adv">
                    <div class="advantages">
                        <h2><i>Affordable</i></h2>
                    </div>
                    <div class="advantages">
                        <h2><i>Reliable</i></h2>
                    </div>
                    <div class="advantages">
                        <h2><i>Transparent</i></h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>