<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>register</title>
        <link rel="stylesheet" href="/public/styles/registration.css">
        <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js" defer></script>
        <script src="/public/scripts/alidation.js" defer></script>
    </head>
    <body>
        <div class="main">
            <div class="forms">
                <div class="start">
                    <div class="image">
                        <img src="/public/photos/logo.png">
                    </div>
                    <div class="rhon">
                        <div class="inrhon">
                            <h2>RHONE</h2>
                            <P><i>every step of the way</i></P>
                        </div>
                    </div>
                </div>
                <h2><i><b style="color:rgb(222, 60, 163)">Register here</b></i></h2>
                <form class="registration_form" action="/register" id="signup"  method="POST">
                    <% if (messages.error) { %>
                        <div class="alert alert-danger">
                          <strong><%= messages.error %> </strong>
                        </div>
                      <% } %>
                    <div>
                        <label for="name">name</label><br/>
                        <input type="text" id="name" name="name"><br/>
                    </div>
                    <div>
                        <label for="email">email</label><br/>
                        <input type="email" id="email" name="email">
                    </div>
                    <div>
                        <label for="telephone">telephone</label><br/>
                        <input type="number" id="telephone" name="telephone"><br/>
                    </div>
                    <div>
                        <label for="password">password</label><br/>
                        <input type="password" id="password" name="password"><br/>
                    </div>
                    <div>
                        <label for="confirm password">confirm password</label><br/>
                        <input type="password" id="confirm_password" name="confirm_password"><br/>
                    </div>
                    <button type="">sign up</button>
                </form>
                <p>already registered?  <a href="/login"><button>log in</button></a></p>
            </div>
        </div>
    </body>
</html>