*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
    background-color:white;
    width:100%;
    padding:0 0 0 0;
}
.navigation img{
    height:90px;
    padding-left: 2em;
}
.navigation{
    width:100%;
    height:100px;
    position:fixed;
    top:0;
    background-color: white;
}
.navigation ul{
    padding:0 10% 0 0;
    float:right;
}
.navigation ul li{
    padding:30px 40px 20px 0;
    display: inline-block;
    list-style: none;
}
.navigation ul li a{
    float:right;
    display:block;
    text-decoration: none;
    float:right;
    font-family:verdana;
    padding: 0 60px 0 0;
}
.intro{
    padding:2em;
    height:60vh;
    background-color: black;
    color:white;
}
.intro h3{
    padding-top: 10vh;
    text-align: center;
}
.intro h2{
    text-align: center;
}
.intro h2 a{
    text-decoration: none;
    color:white;
}
.benefits{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
    display:grid;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    background-color: rgb(111, 11, 111);
    border-radius: 1em;
    margin:50px 0 50px 0;
}
.remote{
    font-size: 18px;
    padding:2em;
    background-color:white;
    border-radius: 2em;
    text-align:justify;
}
.advantages{
    padding:2em;
    width:100%;
    display:grid;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    border-radius: 1em;
    margin:50px 0 50px 0;
}
.li{
    padding:1em;
    background-color: whitesmoke;
    border-radius:2em;
    font-size: 20px;
}
.end{
    color:white;
    padding:20px;
    border-radius: 2em;
    width:100%;
    height:50vh;
    background-color: blueviolet;
}
.footer{
    padding:40px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    font-size: large;

}
.footer .navi ul li{
    list-style: none;
    line-height:1.5;
}
.footer .solutions ul li{
    list-style: none;
    line-height: 1.5;
} 
.footer .contacts ul li{
    list-style: none;
    line-height:1.5;
}  

.cont{
    width:80%;
    border-radius: 2em;
    background-color: rgb(175, 156, 193);
    text-align: center;
}
.cont a{
 color:azure;
 font-size:larger;
}