*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    margin-top: 60px;
    padding:0;
    width:100%;
}
.nav{
    padding:1em;
    color:white;
    width:100%;
    height:50px;
    top:0;
    position:fixed;
    background-color:rgb(51, 12, 50);
}
.nav ul{
    float:left;
    padding-left: 20%;
}
.nav ul li{
    display:inline-block;
    padding-right:200px;
}
.dash{
    width:100%;
}
.dash .side{
    background-color: rgb(208, 185, 234);
    width:20%;
    float:left;
}
.dash .main{
    background-color: rgb(241, 235, 235);
    width:80%;
    float:right;
    padding: 1em;
}
.side{
    padding:1em;
    border-radius: 2em;
}
.side img{
    border-radius: 1em;
}
.dashboard{
    text-align: center;
    margin:1em;
    border-radius: 1em;
    background-color: antiquewhite;
}
.dashboard a{
    font-size: larger;
    text-decoration: none;
}
.reconciliation{
    text-align: center;
    margin:1em;
    height:20vh;
    background-color: antiquewhite;
    border-radius: 1em;

}
.analytics{
    margin:1em;
    height:20vh;
    background-color: rgb(169, 115, 219);
    border-radius: 1em;
    text-align: center;

}
.orders{
    height:20vh;
    background-color: rgb(218, 104, 150);
    border-radius: 1em;
    text-align: center;
    margin:1em;
}
.levels{
    height:20vh;
    background-color: rgb(223, 153, 68);
    border-radius: 1em;
    text-align: center;
    margin:1em;
}
.main .first{
    width:100%;
    background-color: antiquewhite;
    border-radius: 2em;
    height:20vh;
    padding:1em;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:1em;
}
.ostock{
    line-height: 1.5;
}